[Unit]
Description=Data logging for Foocars

[Service]
Type=simple
WorkingDirectory=/home/pi/foocars/cars/ulysses
ExecStart=/usr/local/bin/pipenv  run python3 /home/pi/foocars/cars/ulysses/services/carRunner.py
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
Alias=car.service

