[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://www.piwheels.org/simple"
verify_ssl = true
name = "piwheels"
 

[dev-packages]

[packages]
argparse = "*"		#Not used in carRunner.py
tqdm = "*"    		#Not used in carRunner.py
pyserial = "*"		#used, but called "serial".
Pillow = "*"  		#Not used in carRunner.py
Keras = "*"	  		#USED
"h5py" = "*" 		#Used in a single ocmment in multiple cars, unsure if needed.
tensorflow = "*"	#USED
"rpi.gpio" = "*"	#USED
picamera = "*"		#USED

[requires]
python_version = "3.*"
